<ion-header>
    <ion-toolbar class="tool">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titu">Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form>

        <ion-item>
            <ion-label position="floating">Correo Electronico </ion-label>
            <ion-input type="text" required name="email" [(ngModel)]="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Nombre </ion-label>
            <ion-input type="text" required name="Nombre" [(ngModel)]="Nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Tipo de Usuario</ion-label>
            <ion-select required placeholder="Selecione uno" [(ngModel)]="Tipo" name="Tipo">
                <ion-select-option value="1">Administrador</ion-select-option>
                <ion-select-option value="2">Estudiante</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Documento </ion-label>
            <ion-input required type="text" name="documento" [(ngModel)]="documento"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Foto Perfil </ion-label>
            <br>
            <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="upload($event)">


        </ion-item>



        <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input required type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button class="tool" (click)="onsubmitReg()" *ngIf="Nombre && Tipo && documento && password && Email ">Registrar </ion-button>
    </form>



</ion-content>