<ion-header>
    <ion-toolbar class="tool">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titu"> Informacion</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="Exito">


        <ion-card-content *ngFor="let Est of Estudiante">
            <ion-item>
                <ion-label>Documento : </ion-label>
                <ion-label>{{Est.id}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label> Foto Usuario: </ion-label>
                <br>
                <ion-img class="img" [src]="ulrimg |async"></ion-img>
                <br>
            </ion-item>
            <ion-item>
                <ion-label>Nombre :</ion-label>
                <ion-label>{{Est.Nombre}} </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Correo: </ion-label>
                <ion-label>{{Est.Correo}} </ion-label>
            </ion-item>
           

        </ion-card-content>


    </ion-card>

</ion-content>