<ion-header>
    <ion-toolbar class="tool">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titu">Incio</ion-title>
    </ion-toolbar>
    <br>

            <ion-card >
                <ion-card-header>
                <ion-img src="assets/ro.png"></ion-img>
                </ion-card-header>
                <ion-card-content >
                    <ion-card-subtitle>
                        Te comentamos:
                    </ion-card-subtitle>  
                    <br>
                    <p>
                        Para poder comenzar en nuestro aplicativo debes estar registrado, si no lo estas ¡No te preocupes! Un administrador lo hará te dará tus datos de acceso. 
                    </p> 
                </ion-card-content>
               <h1 class="row justify-content-center">Comencemos!</h1>
               <br>
            </ion-card>
</ion-header>