<ion-header>
    <ion-toolbar class="tool">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="titu">Creditos</ion-title>
    </ion-toolbar>
    <ion-card >
        <ion-card-header>
        <ion-img src="assets/pp.png"></ion-img>
        </ion-card-header>
    <ion-card-content >
        <ion-card-subtitle>
           <i> Foto tomada antes de iniciar la cuarentena xd</i>
        </ion-card-subtitle>  
        <br>
        <p>
           Este trabajo fue realizado por: Luis Angel Gutierrez, Juan David Lozano Y andres Felipe Rodrguez.
        </p> 
    </ion-card-content>
   <h1 class="row justify-content-center">Gracias!</h1>
   <br>
</ion-card>
</ion-header>

